<ion-view class="hs-view-home has-header bar-calm" title="Пребарување" overflow-scroll="false">
    <ion-content class="has-header" style="padding-top:30px;" content scroll="false">
        <div class="row row-center" style="max-height:70%;">
            <div class="col">
                <div class="list">
                    <div class="item item-input inputElement">
                        <input ng-model="vm.search.imeprezime" type="text" placeholder="Корисник (Име/Презиме)">
                    </div>
                    <div class="item item-input inputElement">
                        <input ng-model="vm.search.lokacija" type="text" placeholder="Локација (Улица, Број ...)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="submitButton button button-calm"
                    ng-click="vm.search()">
                БАРАЈ
            </button>
        </div>
    </ion-content>
</ion-view>
