<ion-view class="hs-view-home has-header bar-calm" view-title="Состојба" content scroll="false">
  <ion-content class="has-header" style="padding-top:10px;" content scroll="true">
    <div style="margin-left: 10%;margin-top: 20px;margin-bottom: 20px;color: red;margin-right: 10%;" ng-if="vm.HasBeenUpdatedLocally == 1">
      <p>Внимание, за ова броило имате внесено податок за овој месец.</p>
    </div>
    <div class="row row-center" style="width:80%;margin-left: 10%;      margin-right: 10%;">
      <div class="col">
        <ion-item class="item-stable" style="max-height:70%">
          <div class="rowFull">
            <b>Име/назив</b> :{{vm.imeNaziv}}
          </div>
          <div class="rowFull">
            <b>Броило</b>: {{vm.broilo}}
          </div>
          <div class="rowFull">
            <b>Стара состојба</b>: {{vm.state.before}}
            <ion-checkbox ng-model="vm.newCounter" class="new-counter-checkbox"></ion-checkbox>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        <div class="list">
          <div class="item item-input inputElement" ng-show="vm.newCounter">
            <input ng-model="vm.brShasija" type="text" placeholder="Број на шасија">
          </div>
          <div class="item item-input inputElement">
            <input ng-model="vm.state.new" type="number" min="1" placeholder="Нова состојба" required>
          </div>
          <input type="hidden" ng-model="vm.state.slika">
          <div style="margin-left: 10%; color:red">
            <p>{{vm.errors.required}}</p>
          </div>
          <button class="button icon-right ion-camera" style="width: 80%;text-align: center;margin-left: 10%;margin-bottom:20px;" ng-click="vm.takePhoto()">
            Направи фотографија
          </button>
          <button class="button icon-right ion-image" style="width: 80%;text-align: center;margin-left: 10%;" ng-click="vm.choosePhoto()">
            Прикачи фотографија
          </button>
          <p>
            {{errorMessage}}
          </p>
        </div>
      </div>
    </div>
    <div class="row row-center" ng-if="vm.state.slika !== undefined&&vm.state.slika!=null">
      <div class="col col-75">
        <div class="list">
          <div class="item item-thumbnail-left" href="#" style="margin-left:13.25%">
            <img ng-show="vm.state.slika !== undefined" ng-src="{{vm.state.slika}}" />
            <h2> {{vm.state.mesec}}</h2>
          </div>
        </div>
      </div>
      <div class="col col-25">
        <div class="list">
          <button class="button button-positive" ng-click="vm.removImage()">
            <i class="icon ion-android-close"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        <div class="list">
          <button class="submitButton button button-balanced" ng-click="vm.saveNewState()">
            <!--ui-sref="main.results">-->
            ВНЕСИ
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
