<ion-view class="hs-view-home has-header" view-title="Корисник" overflow-scroll="true">
  <ion-content class="has-header" style="padding-top:30px;" content scroll="true">
    <div class="row row-center" style="max-height:70%;">
      <div class="col">
        <ion-item class="item-stable" style="max-height:70%">
          <div class="rowFull">
            <b>Тип на Корисник</b>: {{vm.tipNaKorisnik}}
          </div>
          <div class="rowFull">
            <b>Шифра на корисник</b>: {{vm.shifraNaKorisnik}}
          </div>
          <div class="rowFull">
            <b>Име/назив</b> :{{vm.imeNaziv}}
          </div>
          <div class="rowFull">
            <b>Улица</b>: {{vm.adresa}}
          </div>
          <div class="rowFull">
            <b>Куќен број</b>: {{vm.kukenBroj}}
          </div>
          <div class="rowFull">
            <b>Влез</b>: {{vm.vlez}}
          </div>
          <div class="rowFull">
            <b>Стан</b>: {{vm.stan}}
          </div>
          <div class="rowFull">
            <b>Град</b>: {{vm.grad}}
          </div>
        </ion-item>
      </div>
    </div>
      <ion-list ng-repeat="item in vm.items">
        <ion-item ng-class="vm.getItemClass(item)">
          <div class="rowFull">
            <div class="colFull col-75" ng-click="vm.navigateToUserDetails({vidkorid: item.vidKorID, lokacijaID: item.lokacijaID, korisnikID: item.korisnikID, reonID: item.reonID, broilo: item.broilo})">
              <div class="row">
                <p class="nameheader">
                  {{item.naziv}}
                </p>
              </div>
              <div class="row" ng-if="item.ulica">
                <p class="nameheader">
                  {{item.ulica}} / {{item.broj}}
                </p>
              </div>
            </div>
            <div class="colFull col-25" ng-click="vm.navigateToUserDetails({vidkorid: item.vidKorID, lokacijaID: item.lokacijaID, korisnikID: item.korisnikID, reonID: item.reonID, broilo: item.broilo, selectedRegion: item.reonID})">
              <div class="row">
                {{item.broilo}}
              </div>
              <div class="row">
                {{item.novaSostojba}}
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    <div class="row">
      <button class="submitButton button button-calm" ui-sref="main.editstate({vidkorid: vm.vidkorID, lokacijaID: vm.lokacijaID, korisnikID: vm.korisnikID, reonID: vm.reonID, broilo: vm.broilo, selectedRegion: vm.reonID})">
        Внеси нова состојба
      </button>
    </div>
  </ion-content>
</ion-view>
