<ion-view class="hs-view-home has-header bar-calm" title="ПРЕЗЕМИ ПОДАТОЦИ ЗА РЕОН" overflow-scroll=false><ion-content class=has-header style=padding-top:20%; content="" scroll=false><div class="row row-center" style=max-height:70%;><div class=col><div class=list><!--<select class="form-control incheck">
 <option>Реон...</option>
 <option>Реон1</option>
 <option>Реон2</option>
 <option>Реон3</option>
 </select>--><select name=selectArea id=selectArea ng-model=vm.data.selectArea class="form-control incheck"><option value="">Реон...</option><!--not selected / blank option--><option ng-repeat="option in vm.data.items" value={{option.reonID}}>{{option.zabeleska}}</option></select><br><div style="margin-left: 10%;color:red"><p>{{vm.errors.required}}</p></div></div></div></div><div class=row><button class="submitButton button button-calm" ng-click=vm.goToSearch()>ПРЕЗЕМИ</button></div></ion-content></ion-view>