<ion-view class="hs-view-home has-header bar-calm" view-title="Логин" content scroll="false">

    <ion-content class="has-header" style="padding-top:30px;" content scroll="false">
        <div class="row row-center">
            <div class="col">
                <div class="list">
                    <label class="item item-input inputElement">
                        <input type="text" ng-model="vm.user.username" placeholder="Корисничко Име">
                    </label>
                    <label class="item item-input inputElement">
                        <input type="password" ng-model="vm.user.password" placeholder="Лозинка">
                    </label>
                    <div style="margin-left: 10%; color: red">
                        <p>{{vm.errors.required}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="submitButton button button-calm" ng-click="vm.login()">
                ЛОГИРАЈ СЕ
            </button>
        </div>
    </ion-content>
</ion-view>
