<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Dapper" version="1.42" targetFramework="net46" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net46" />
  <package id="HASELT.Arc.Core" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Email" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Exporters" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Exporters.CSV" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Exporters.Excel" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.FileClients" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.FileClients.FileSystem" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Logging" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Messaging" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Util" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Web" version="0.11.0" targetFramework="net46" />
  <package id="HASELT.Arc.Web.AspNetMvc" version="0.11.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net46" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Npgsql" version="3.0.5" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="Pechkin" version="0.5.8.1" targetFramework="net452" />
  <package id="structuremap" version="4.1.2.386" targetFramework="net46" />
</packages>