<ion-view class="hs-view-home has-header bar-calm" title="Реони" overflow-scroll="false">
    <ion-content class="has-header" style="padding-top:20%;" content scroll="false">
        <div class="row row-center" style="max-height:70%;">
            <div class="col">
                <div class="list">
                    <select name="selectArea" id="selectArea" ng-model="vm.data.selectArea" class="form-control incheck">
                        <option value="">Реон...</option> <!-- not selected / blank option -->
                        <option ng-repeat="option in vm.data.items" value="{{option.reonID}}">{{option.reonID}} - {{option.zabeleska}}</option>
                    </select><br>

                </div>
            </div>
        </div>
        <div class="row row-center" style="max-height:70%;">
            <div class="col">
                <div class="list">
                    <label class="item item-input item-select form-control">
                        <div class="input-label" style="height: 100%;height: 100%;line-height: 100%;padding: 14px 7px;margin: auto 0;">
                        Месец
                        </div>
                        <select ng-options="month.display for month in vm.months" ng-model="vm.selectedMonth"></select>
                    </label>
                    <label class="item item-input item-select form-control">
                        <div class="input-label" style="height: 100%;height: 100%;line-height: 100%;padding: 14px 7px;margin: auto 0;">
                        Година
                        </div>
                        <select ng-options="year for year in vm.years" ng-model="vm.selectedYear">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="submitButton button button-calm" ng-click="vm.downloadReonData()" ng-enabled="vm.hasReonsList">
              Преземи податоци
            </button>
        </div>
        <div class="row">
            <button class="submitButton button button-energized" ng-click="vm.synchronize()">
                Синхронизирај
            </button>
        </div>
        <div class="row">
            <div style="margin-left: 10%; margin-top:20px;color:red">
                <p>{{vm.errors.required}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>