<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Database_Main_ConnectionString" value="Server=.\SQLEXPRESS;Initial Catalog=Komunalecjpk;Integrated Security=True;MultipleActiveResultSets=True"/>
  <!--<add key="Database_Main_ConnectionString" value="Server=78.47.53.196, 1433;Initial Catalog=Komunalecjpk;User Id=geomegasoft; password= Y#nDeG4Lz9ghMssHe-UrZ^Qwy"/>-->
</appSettings>