<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--<add key="Database_Main_ConnectionString" value="Server=.\SQLEXPRESS;Initial Catalog=Komunalecjpk;Integrated Security=True;MultipleActiveResultSets=True"/>-->
  <!--<add key="Database_Main_ConnectionString" value="Server=.\SQL2005A;Initial Catalog=Komunalecjpk;User Id=sa; password=Q12wpoias"/>-->
  <add key="Database_Main_ConnectionString" value="Server=79.125.165.9\SQL2005, 49192;Initial Catalog=KomunalecJPK;User Id=sa; password=Q12wpoias"/>
<!--<add key="Database_Main_ConnectionString" value="Server=78.47.53.196, 1433;Initial Catalog=Komunalecjpk_delcevo;User Id=geomegasoft; password= Y#nDeG4Lz9ghMssHe-UrZ^Qwy"/>-->

</appSettings>
